@import url(https://fonts.googleapis.com/css?family=Abel);



table {
	width:100%;
	border-collapse:collapse;
}
tr {
	outline:0;
	border:0;
}
tr:hover td {
	background:#f6f6f6;
}
th {
	text-align:left;
	padding-right:20px;
}
/* 2nd Column: Filename */
th + th {
	width:65%;
}
/* 3rd Column: Last Modified */
th + th + th {
}
/* 4th Column: Size */
th + th + th + th {
	width:5%;
}
tr td:first-of-type {
	padding-left:10px;
	padding-right:10px;
}
td {
	outline:0;
	border:0;
	vertical-align:middle;
	text-align:left;
	-webkit-transition:background 300ms ease;
	   -moz-transition:background 300ms ease;
	    -ms-transition:background 300ms ease;
	     -o-transition:background 300ms ease;
	        transition:background 300ms ease;
}
td a{
	display: block;
}
tr.parent a[href^="/"] {
	color:#9099A3;
}
	.parent a[href^="/"]:hover {
		color:#2281d0;
	}
h1 {
font-family: "Abel";
font-size:12px;
}

pre {
font-family: "Abel";
font-size:12px;
}

body a {
  color:#3467BA;
  text-decoration:none;
}
body a:hover {
  text-decoration:underline;
}
body {
font-family: "Abel";
font-size:12px;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
background-color:#101010;
color:lime;
background-image: url('http://www.drodd.com/images14/black15.jpg');
}